/* The side navigation menu */
.sidebar {
    margin-left: 0;
    width: 96px;
    background-color: #F2F4F7;
    height: 100%;
    overflow: auto; 
  }
  .logo{
      position: absolute;
      margin-top:22px;
      margin-left:24px;
      margin-right: 24px;
}
  .home{
      position: absolute;
      margin-top:119px;
      margin-left:24px;
      margin-right: 24px;
      
}
.search{
    position: absolute;
    margin-top:183px;
    margin-left:24px;
    margin-right: 24px;   
}
.docIcon{
    position: absolute;
    margin-top:247px;
    margin-left:24px;
    margin-right: 24px;     
}

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 575.8px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
    .sidebar a {
        float: left;
        margin-right: 15px;
      }
    .logo{
        margin-top:0;
        margin-left:10px;
      }
    .home{
        margin-top:0;
        margin-left:10px;
      }
    .search{
        margin-top:0;
        margin-left:10px;
      }
    .docIcon{
        margin-top:0;
        margin-left:10px;
      }
  } 
    
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


.btn{
    margin-left: auto;
    margin-bottom: 15px;   
}
.active {
    color: blue;
  }

/* sidebar end */

/*chatHome*/
.chathome {
    background-color: #fbfbfd;
    height: 1024px; 
}
.chats{
    
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
/* identical to box height, or 28px */

    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 30px;
}
.card:hover{
    background-color: aqua;
}
.card{
    background-color: #FFFFFF;
    height: 99px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 13px;
}
.chatPerson{
    color: #222222;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-left:72px;
    position:absolute;
    margin-top:18px;
}
.chaticon{
    margin-left:16px;
    position:absolute;
    margin-top:30px;
}
.smallRectangle{
    color: #646464;;
    background-color: #FBFBFD;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #D9D9E7;
    margin-left:72px;
    position:absolute;
    margin-top:42px;
    width: 48px;
    height: 18px;
}
.b{
    margin-left: 5px;
}
.d{
    margin-left: 7px;
}
.hithere{
    color:black;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-left:72px;
    position:absolute;
    margin-top:68px;
}


/*chatHome End*/
/*Page 2start */
.chatScreen {
    background-color: white;
    height: 1024px;
}
.messagerecievd{
    font-family: Archivo;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-top: 8px;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 25px;
    border-radius: 0px 20px 20px 20px;
    background: blue;
    padding: 20px; 
    width: 50%;
    height: 25px;
}
.e{
    margin-top: 0;
    margin-left: 25px;
    font-size: 10px;
}
.messageSend{
    font-family: Archivo;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    margin-left: 175px;
    border: 1px solid #D9D9E7;
    border-radius: 20px 20px 0px 20px;
    background: white;
    padding: 20px; 
    width: 56%;
    height: 25px; 
}
.messageTime{
    margin-left:75%;
    margin-top:24px;
    font-size: 10px;
}
.blueTick{
    margin-left: 90%;
}
@media screen and (max-width: 1200px) {
    .messageSend{
        margin-top: 10px;
        display: flex;
        align-items: center;
        margin-left: auto;
        border: 1px solid black;
        border-radius: 20px 20px 0px 20px;
        background: white;
        padding: 20px; 
        width: 56%;
        height: 25px; 
    }
    
}


.note {
    background-color:white;
    height: 1024px;
} 
.label{
    margin-left: 33px;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #222222;
    border-radius: 15px;
    width: auto;
    height: 25px;
    display: flex;
    align-items: center;
    background-color: #F2F4F7; 
    margin-right: auto;
}
