/* The side navigation menu */
.sidebar {
    margin: o;
    padding: 15px;
    width: 96px;
    background-color: #F2F4F7;
    height: 100%;
    overflow: auto;
  }
  .sidebar a{
      margin-top: 22px;
  }
  .sidebar logo{
    margin-bottom: 27px;
}

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {
        float: left;
        margin-right: 15px;
    }
    
  } 
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 700px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }


.btn{
    margin-left: auto;
    margin-bottom: 15px;   
}
.active {
    color: blue;
  }

/* sidebar end */

/*chatHome*/
.chathome {
    background-color: #fbfbfd;
    height: 1024px; 
}
.chats{
    font-family: Archivo;
    font-style: normal;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 30px;
}
.card:hover{
    background-color: aqua;
}
.card{
    background-color: #FFFFFF;
    height: 90px;
    width: 100%;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 15px;
}
.chatPerson{
    color: #222222;
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    margin-left:88px;
    position:absolute;
    margin-top:7px;
}
.chaticon{
    margin-left:16px;
    position:absolute;
    margin-top:25px;
}
.smallRectangle{
    color: #646464;;
    background-color: #FBFBFD;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #D9D9E7;
    margin-left:72px;
    position:absolute;
    margin-top:35px;
    width: 48px;
    height: 25px;
}
.hithere{
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    margin-left:88px;
    position:absolute;
    margin-top:58px;
}


/*chatHome End*/
/*Page 2start */
.chatScreen {
    background-color: white;
    height: 1024px;
}
.messagerecievd{
    margin-top: 20px;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 25px;
    border-radius: 0px 20px 20px 20px;
    background: blue;
    padding: 20px; 
    width: 50%;
    height: 25px;
}
.messageSend{
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 175px;
    border: 1px solid black;
    border-radius: 20px 20px 0px 20px;
    background: white;
    padding: 20px; 
    width: 56%;
    height: 25px; 
}
.messageTime{
    margin-left:75%;
    margin-top:10px;
}
.blueTick{
    margin-left: 90%;
}
@media screen and (max-width: 1200px) {
    .messageSend{
        margin-top: 10px;
        display: flex;
        align-items: center;
        margin-left: auto;
        border: 1px solid black;
        border-radius: 20px 20px 0px 20px;
        background: white;
        padding: 20px; 
        width: 56%;
        height: 25px; 
    }
    
}


.note {
    background-color:white;
    height: 1024px;
} 
.label{
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #222222;
    border-radius: 15px;
    width: auto;
    display: flex;
    align-items: center;
    background-color: #F2F4F7;
    margin-left: auto;
    margin-right: 25px;
}
